@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
   
* {
  font-family: 'Newsreader', serif;
}
body {
  color:#8B0000;
}
.product-image{
width:100% !important;
height:400px !important;
}

.farm-image{
  width:50% ;
  height:400px ;
  }

.slide {
  opacity: 0;
  background-position: center center;
  transition: 0.8s ease;
  z-index: 1;
  display: none;
  width:100%;
  height: 400px; 
  position: relative;
}
.slide.active {
  opacity: 1;
  display: block;
  width:100%;
  height: 400px;
}

.slide-planifolia {
  opacity: 0;
  background-position: center center;
  transition: 0.8s ease;
  z-index: 1;
  display: none;
  width:100%;
  height: 400px; 
  position: relative;
}

.slide-planifolia.active {
  opacity: 1;
  display: block;
  width:100%;
  height: 400px;
}


.arrow {
  background-color: transparent;
  padding: 10px;
  font-size: 30px;
  border: 2px solid orange;
  transform: translateY(-50%);
  cursor: pointer;
  margin-top:40px;
  float: right;
}

.arrow:focus {
  outline: 0;
}



@media only screen and(max-width: 350px)  {
  .product-image{
  width:100% !important;
  height:auto !important;
  }
  
  }